
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Image Uploading</h1>
        <p>This is the marketing page for the image uploading system</p>
    </div>
</div>
<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-6 text-center">
            <h2>Display</h2>
            <p>It's the functionality to display the image table</p>
            <p><a class="btn btn-secondary" href="/admin" role="button">View details »</a></p>
        </div>
        <div class="col-md-6 text-center">
            <h2>Upload</h2>
            <p>It's the functionality to upload your image</p>
            <p><a class="btn btn-secondary" href="/admin" role="button">View details »</a></p>
        </div>
    </div>
</div>

